{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content %}
    <h2><a class="containerBox" style="margin-right:60px">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/button2.svg" class="img-responsive">
          <div class="text-box pink-button">
            <span class=" button-text pink-shadow">Categories</span>
          </div>
    </a></h2>
    <ul>
    {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
