{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<a class="containerBox">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/button2.svg" class="img-responsive">
    <div class="text-box pink-button">
    <span class=" button-text pink-shadow">Articles</span>
    </div>
</a>
{% endblock %}
<span class="terminal-text">
    Thank you for dialing into TVC-16!
    <br>We hope this system will bring you entire satisfaction.
</span><br/><br/>
This is where I write tech stuff so I don't forget what I did when I inevitably get to redo it.<br/><br/>
...I really have nothing else to write here for the moment.<br/><span style="font-family:monospace">( ´･･)ﾉ(._.`)</span>
<ol id="post-list">
{% for article in articles_page.object_list %}
        <li style="list-style-type: none;"><article class="hentry">
                <header> 
                    <h2 class="article-link"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a></h2> 
                </header>
                <footer class="post-info terminal-text">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <address class="vcard author">By
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
